{% extends 'CaiFrontendBundle::base.html.twig' %}
{% block body %}
    <div class="container" style="background: white">
        <div class="row">
            <div class="col-md-12" style="padding: 50px">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <br><br>
    </div>
{% endblock %}





