{% extends 'errorBase.html.twig' %}
{% block message %}
Error 404: La ruta que ha ingresado no se ha encontrado. Revise la URL buscando algún error o vuelva al <a href="{{ path('cai_frontend_homepage') }}">inicio</a>
{% endblock %}