{% extends 'errorBase.html.twig' %}
{% block message %}
Error 403: Ups ! Estás intentando acceder a un área restringida. Si necesitas acceder a dicha información, contacta a un Administrador. Mientras, puedes volver al <a href="{{ path('cai_frontend_homepage') }}">inicio</a>
{% endblock %}