{% extends 'errorBase.html.twig' %}
{% block message %}
Ha ocurrido un error ! Por favor, contacta a un Administrador indicando en que lugar del sitio haz tenido el error. Mientras, puedes volver al <a href="{{ path('cai_frontend_home') }}">inicio</a>
{% endblock %}