{% extends 'CaiWebBundle::base.html.twig' %}
{% form_theme edit_form with [
'bootstrap_3_horizontal_layout.html.twig'
] %}

{% block body %}
    <h1>Editar Contacto</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-primary" type="submit" value="Enviar" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a class="btn btn-default" href="{{ path('contacto_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
