{% extends 'CaiWebBundle::base.html.twig' %}

{% block body %}
    <h1>Subir Documento</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Subir" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('documento_index') }}">Volver</a>
        </li>
    </ul>
{% endblock %}
