{% extends 'CaiWebBundle::base.html.twig' %}

{% block body %}
    <h1>Pagina creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('pagina_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
    {% include 'CaiWebBundle:utils:ckeditor.html.twig' with {'id': 'pagina_cuerpo' } %}
    {% include 'CaiWebBundle:utils:datetimepicker.html.twig' with {'id': 'pagina_fecha' } %}
{% endblock %}