{% extends 'CaiFrontendBundle::layout.html.twig' %}
{% block title %}
    Noticias
{% endblock %}
{% block content %}
<h1 class="text-center">Noticias</h1>
    {% set i = 0 %}
            {% for noticia in noticias %}
                {% if i == 0 %}

                <div class="row">
                {% endif %}

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-5">
                                    <img class="img-responsive"  src="{{ asset('uploads/biblioteca/imagenes/' ~ noticia.imagen.filenamebinary ~ '/noticia-' ~ noticia.imagen.filename) }}" />
                                </div>
                                <div class="col-md-6">
                                    <h3><a href="{{ path('cai_frontend_entrada',{slug: noticia.slug}) }}">{{ noticia.titulo }}</a></h3>
                                    <p>{{ noticia.fecha|date('Y-m-d h:i:s') }}</p>
                                </div>
                            </div>
                        </div>
                {% set i = i + 1 %}
                {% if i == 2 %}{% set i = 0 %}
                </div>
            </li>
                {% endif %}
            {% endfor %}
            {% if i == 1 %}
                    </div>
            {% endif %}

{% endblock %}