{% extends 'CaiWebBundle::base.html.twig' %}
{% form_theme form with [
'bootstrap_3_horizontal_layout.html.twig'
] %}

{% block body %}
    <h1>Crear Evento</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('evento_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
{% block javascripts %}
    {% include 'CaiWebBundle:utils:datetimepicker.html.twig' with {'id': 'evento_fecha_inicio', 'step':30 } %}
    {% include 'CaiWebBundle:utils:datetimepicker.html.twig' with {'id': 'evento_fecha_fin', 'step':30 } %}
{% endblock %}
