<h1>Hola {{ user }}</h1>
<h2>Tu solicitud de recuperar contraseña se ha realizado con exito</h2>
<p>Para completar el cambio debes ingresar hacer click <a href="{{ url('change_password',{'token':user.passwordToken}) }}">aquí</a>
    (El enlace solo sirve una vez)</p>

<p>Si tu no haz realizado esta acción, haz click <a href="{{ url('recover_error',{'token':user.passwordToken}) }}">aquí</a></p>

<p>Recuerda que si lo deseas puedes contactarte con nostros a <a href="mail:cai@cai.cl">cai@cai.cl</a> </p>

<p>Saludos</p>
<p>Centro de Alumnos de Ingeniería</p>