<h1>Hola {{ user.profile.nombre }} {{ user.profile.apellido }}</h1>
<h2>Tu solicitud de recuperar contraseña se ha realizado con exito</h2>

<p>Tu nombre de usuario es: {{ user.username }}</p>
<p>Tu nueva contraseña es: <b>{{ password }}</b></p>
<p>Si deseas puedes cambiar tu contraseña en editar perfil</p>

<p>Recuerda que si lo deseas puedes contactarte con nostros a <a href="mail:cai@cai.cl">cai@cai.cl</a> </p>

<p>Saludos</p>
<p>Centro de Alumnos de Ingeniería</p>