<h1>Hola Comunicaciones</h1>
<h2>Han compĺetado la solicitud <a href="{{ url('solicitud_show', {'id': id_solicitud} ) }}">#{{ id_solicitud }}</a> .</h2>

<p>Recuerda contactarte con el solicitante para enviarle el material solicitado.</p>

<p>Saludos</p>
<p>Centro de Alumnos de Ingeniería</p>