<h1>Hola Comunicaciones</h1>
<h2>Han rechazado la solicitud <a href="{{ url('solicitud_show', {'id': id_solicitud} ) }}">#{{ id_solicitud }}</a> .</h2>
<p>El mensaje agregado es el siguiente:</p>
<blockquote>
    {{ mensaje }}
</blockquote>


<p>Saludos</p>
<p>Centro de Alumnos de Ingeniería</p>