<h1>Hola Comunicaciones</h1>
<h2>Han aceptado la solicitud <a href="{{ url('solicitud_show', {'id': id_solicitud} ) }}">#{{ id_solicitud }}</a> .</h2>

<p>Recuerda revisar el detalle en el link anterior, y completarla antes del tiempo limite.</p>

<p>Saludos</p>
<p>Centro de Alumnos de Ingeniería</p>