<h1>Hola Comunicaciones</h1>
<h2>Se ha generado una nueva solicitud.</h2>

<p>Recuerda revisar el detalle <a href="{{ url('solicitud_show', {'id': id_solicitud} ) }}">aquí</a>, y aprobarla o rechazarla según corresponda.</p>

<p>Saludos</p>
<p>Centro de Alumnos de Ingeniería</p>