<h1>Hola {{ user }}</h1>
<h2>Tu solicitud ha sido rechazada.</h2>

<p>La Comisión de comunicaciones ha rechazado tu solicitud, enviando el siguiente mensaje:</p>
<blockquote>
    {{ mensaje }}
</blockquote>

<p>Para cualquier consulta, puedes comunicarte con la Comisión en el mail <a href="mail:comunicaciones@cai.cl">comunicaciones@cai.cl</a> </p>

<p>Saludos</p>
<p>Centro de Alumnos de Ingeniería</p>