<h1>Hola {{ user }}</h1>
<h2>Se ha generado la solicitud <a href="{{ url('solicitud_show', {'id': id_solicitud} ) }}">#{{ id_solicitud }}</a> .</h2>

<p>Cuando esta sea aprobada o rechazada te llegará un mail de aviso.</p>
<p>Cualquier duda, puedes contactarnos en <a href="mail:comunicaciones@cai.cl">comunicaciones@cai.cl</a>.</p>

<p>Saludos</p>
<p>Centro de Alumnos de Ingeniería</p>