{% set  base = "layout-no-sidebar.html.twig" %}
{% if is_mobile_view() or is_tablet_view() or is_mobile() or is_tablet() %}
    {% set base = "base.mob.twig" %}
{% endif %}
{% extends 'CaiFrontendBundle::' ~ base %}

{% form_theme form with [
'bootstrap_3_horizontal_layout.html.twig'
] %}

{% block content %}
    <h1 class="text-center">Nueva Solicitud</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}

    <div class=" col-sm-offset-2 col-sm-10">
        <input type="submit" value="Enviar" class="btn btn-primary"/>
    </div>
    {{ form_end(form) }}
    <div class=" col-sm-offset-2 col-sm-10">
        <a class="btn btn-default" href="{{ path('solicitud_index') }}">Volver</a>
    </div>

{% endblock %}
{% block javascripts %}
    {% include 'CaiWebBundle:utils:datetimepicker.html.twig' with {'id': 'solicitud_fecha' } %}
{% endblock %}