{% extends 'CaiFrontendBundle::layout.html.twig' %}

{% block content %}
    <h1>Cambiar Contraseña</h1>
    <h4>Usuario: {{ user }}</h4>

    {{ form_start(form) }}
    {{ form_row(form.password) }}
    <label for="second_password">Repite tu contraseña</label><input type="password" id="second_password" name="second_password"><br>
    <input type="submit" value="Create" />
    {{ form_end(form) }}
{% endblock %}
