{% extends 'CaiWebBundle::base.html.twig' %}
{% block body %}
    <h1>{{ type | capitalize }}</h1>
    <table class="table">
        <tr>
            <th>Busqueda</th>
            <th>#</th>
        </tr>
        {% for seguimiento in detalle %}
            <tr>
                <th>
                    {{ seguimiento.text }}
                </th>
                <td>
                    {{ seguimiento[1] }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}