{% extends 'CaiWebBundle::base.html.twig' %}

{% block body %}
    <h1>Seguimiento</h1>
    <ul>
        <li><a href="{{ path('seguimiento_entradas') }}">Entradas</a></li>
        <li><a href="#">Paginas</a></li>
        <li><a href="#">Noticias</a></li>
        <li><a href="#">Busqueda</a></li>
    </ul>
{% endblock %}